@model HTML_HELPERS.Models.Register
@{
    ViewBag.Title = "MostrarDatos";
}
<div class="jumbotron">
    <h2>Mostrar Datos</h2>

    <label>Cédula: @Model.Cedula</label><br />

    <label>Nombre: @Model.Nombre</label><br />

    <label>Apellido: @Model.Apellido</label><br />

    <label>Edad: @Model.Edad</label><br />

    <label>Telefono: @Model.Telefono</label><br />

    <label>Correo: @Model.Correo</label><br />

    <label>Género: @Model.Genero</label><br />

    <label>Estado: @Model.Estado</label><br />

    <label class="jumbotron">Hobbys: @Model.Hobbys</label><br />

</div>


